.App-header {
  background-color: #44474c;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.emailsList {
  display: flex;
  align-items: baseline;
}

.emailsButton {
  margin-left: 60%;
}

p {
  font-weight: bolder;
  font-size: large;
}


