<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com" type="ca95913b10dc2bb873c6dd44-text/javascript"></script> <!-- TailWindCSS CDN online -->
    <!--Você poderia inserir seu próprio CSS aqui-->
</head>
<body class="flex flex-col md:flex-row w-screen h-screen bg-[#f1eddd] gap-5">
    {% block content %}{% endblock %}
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="ca95913b10dc2bb873c6dd44-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"801818bd1f5d25f9","token":"32308b81b316463cad441438eacbe1c6","version":"2023.8.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>
